html{
    font-family: monospace;
}

a{
    
}

.Name{
    text-align: center;
    font-size: xx-large;
    font-weight: lighter;
}

.Nav{
    font-size: x-large;
    text-align: center;
}

.PostLinks{
    font-weight: bold;
}

.PostList{
    font-size: large;
}

.grid-contact {
    justify-content: center;
    display: grid;
    grid-template-columns:max-content max-content;
    column-gap: 1rem;
    row-gap: 1rem;;
    padding: 1rem;
}

.grid-item-contact{
    font-size: larger;
    outline: .05rem;
    outline-style: solid;
}